@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');
$family: "Inter", sans-serif;

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

$lightSkyBlue: #8AC8F5;
$mediumBlue: #4866C7;
$skyBlue: #7FACE7;
$lightGray: #EFF1F3;
$black: #000000;
$gray: #646464;
$slateGray: #787576;
$lightRed: #D55454;