@import "../../Styles/vars";
@import "../../Styles/template";
.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  .filter__container {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filter__header {
      width: 100%;
      position: relative;
      padding: 10px 0;
      border-bottom: 2px solid #eff1f3;
      .filter__closeBtn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        top: 15px;
        left: 0;
      }
      .filter__title {
        color: $black;
        font-family: $family;
        font-size: 16px;
        font-weight: $medium;
        line-height: 24.07px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .filter__range {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding-top: 10px;
      .filter__range-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
        .filter__range-info-budget {
          color: $black;
          font-family: $family;
          font-size: 16px;
          font-weight: $bold;
          line-height: -1px;
          letter-spacing: 0%;
          text-align: center;
        }
        .filter__range-info-budgetAmount {
          color: #3c3c43cc;
          font-family: $family;
          font-size: 14px;
          font-weight: $regular;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .filter__range-reset {
        border: none;
        background: none;
        color: #1995f5;
        font-family: $family;
        font-size: 16px;
        font-weight: $medium;
        line-height: 24.07px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }
  .filter__bars {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 2px;
    padding: 0 10px;

    .filter__bar {
      flex-grow: 1;
    }
  }
  .filter__showResults {
    position: fixed;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    border-top: 2px solid #eff1f3;
    .filter__showResults-amount {
      color: $black;
      font-family: $family;
      font-size: 16px;
      font-weight: $medium;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: center;
    }
    .filter__showResults-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @include primaryBtn();
    }
  }
  .rc-slider {
    padding: 0;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #eff1f3;
    .rc-slider-track {
      background-color: #1995f5;
      height: 4px;
      border-radius: 0;
    }
    .rc-slider-rail {
      background-color: #e3e3e3;
      height: 4px;
      border-radius: 0;
    }
    .rc-slider-handle {
      border: solid 2px #1995f5;
      width: 15px;
      height: 15px;
      margin-top: -5.6px;
      background-color: #1995f5;
      opacity: 1;
    }
  }
  .filter__checkboxes {
    padding: 10px 0;
    width: 100%;
    .filter__checkboxes-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .filter__checkboxes-title {
        color: $black;
        font-family: $family;
        font-size: 16px;
        font-weight: $bold;
        line-height: -1px;
        letter-spacing: 0%;
        text-align: center;
      }
      .filter__checkboxes-reset {
        border: none;
        background: none;
        color: #1995f5;
        font-family: $family;
        font-size: 16px;
        font-weight: $medium;
        line-height: 24.07px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
    .filter__checkboxes-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 10px 0 ;
      .filter__checkbox-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        & label {
          color: #3c3c43cc;
          font-family: $family;
          font-size: 14px;
          font-weight: $regular;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }
}
