@import "../../Styles/vars";
@import "../../Styles/template";
.tour {
  position: relative;
  .tour__navPanel {
    width: 100%;
    padding: 20px;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tour__goBackBtn,
    .tour__shareBtn,
    .tour__likeBtn {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: white;
      border: none;
    }
    .tour__navPanel-actions {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }
  .tour__carousel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    & img {
      width: 100%;
      height: 300px;
    }
    .carousel__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      border-radius: 50px;
      border: none;
      backdrop-filter: blur(40px);
      background: rgb(13, 13, 13), rgba(191, 191, 191, 0.44);
      column-gap: 8px;
      position: absolute;
      bottom: 10px;
      .carouselBtn {
        height: 8px;
        width: 8px;
        background: rgb(0, 0, 0);
        opacity: 0.3;
        border-radius: 50px;
        border: none;
      }
      .carouselBtn--active {
        height: 8px;
        width: 8px;
        background: rgb(0, 0, 0);
        border-radius: 50px;
        border: none;
      }
    }
  }
  .tour__naming {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 20px 25px 20px;
    border-bottom: 4px solid #efeff0;
    .tour__name {
      color: $black;
      font-family: $family;
      font-size: 24px;
      font-weight: $bold;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
      flex-basis: 85%;
    }
    .tour__favorite {
      background-color: #1995f5;
      border-radius: 12.25px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .tour__calendar {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    .tour__datePicker {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tour__calendar__arrival,
      .tour__calendar__departure {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        align-items: start;
        flex-basis: 40%;
        & p {
          color: $black;
          font-family: $family;
          font-size: 16px;
          font-weight: $bold;
          line-height: -1px;
          letter-spacing: 0%;
        }
      }
    }
    .tour__price {
      padding-top: 10px;
      color: $black;
      font-family: $family;
      font-size: 24px;
      font-weight: $bold;
      line-height: -1px;
      letter-spacing: 0%;
    }
    .tour__price-subtitle {
      color: #898a8d;
      font-family: $family;
      font-size: 16px;
      font-weight: $regular;
      line-height: -1px;
      letter-spacing: 0%;
    }
  }
  .tour__dateError {
    padding: 0 20px 25px 20px;
    text-align: center;
  }
  .tour__location {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    column-gap: 5px;
    border-bottom: 4px solid #efeff0;
    & span {
      color: $black;
      font-family: $family;
      font-size: 17px;
      font-weight: $regular;
      line-height: -1px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
